<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head%>
</head>
<body class="container">

	<!-- <header>
		<% include ../partials/header %>
	</header> -->

	<main>
		<div class="jumbotron">

			<div class="container">
			<div class="row">
				<% results.forEach(function(job) { %>
					
					<div class="col-sm">
							<div class="card" style="width: 18rem;">							
									<div class="card-body">
										<h5 class="card-title"><%= job.job_title%></h5>
										<p class="card-text"><%= job.location%></p>
										<a href="#" class="btn btn-primary">More Details</a>
									</div>
							</div>
					</div>
				<% }); %>

			</div>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>