<!-- <button href="/sign_up_employee" class="btn btn-primary">I'm Employee</button>
<button href="/sign_up_employer" class="btn btn-primary">I'm Employer</button> -->
<!-- button{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
} -->

<button style=" font-size: 20px; height: 100px; width: 400px; margin: 0 auto" onclick="window.location.href='/sign_up_employee'" class="btn btn-primary">I'm Employee</button>
<button style=" font-size: 20px; height: 100px; width: 400px; margin: 0 auto" onclick="window.location.href='/sign_up_employer'" class="btn btn-primary">I'm Employer</button>
