<h1>Employee: Sign Up</h1>

<form method="post" action="/add_user/Employee">
  <!-- <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p> -->
  <p>
    <label>UserName:</label>
    <input type="text" name="username">
  </p>
  <!-- <p>
    <label>LastName:</label>
    <input type="text" name="lastname">
  </p> -->
  <p>
    <label>PhoneNumber:</label>
    <input type="text" name="phonenumber">
  </p>
  <p>
    <label>Email:</label>
    <input type="text" name="email">
  </p>
  <p>
    <label>Education:</label>
    <input type="text" name="education">
  </p>
  <p>
    <label>Experience:</label>
    <input type="text" name="experience">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  
  <button>Sign up</button>
</form>