<!-- <button href="/sign_up_employee" class="btn btn-primary">I'm Employee</button>
<button href="/sign_up_employer" class="btn btn-primary">I'm Employer</button> -->

<button onclick="window.location.href='/sign_up_employee'" class="btn btn-primary">I'm Employee</button>
<button onclick="window.location.href='/sign_up_employer'" class="btn btn-primary">I'm Employer</button>
